@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');



:root {
  --main-font: 'Source Sans Pro', sans-serif;
  --secondary-font: 'Herr Von Muellerhoff', cursive;
  --body-font: 'Cabin', sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
  --brown:#c59d5f;
  --black:#192a56;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: var(--body-font-color);
  cursor: default;
  font-family: var(--body-font);
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;

}

body {
  overflow-x: hidden;
}

section {
  padding: 3.9rem 0;
}

img {
  max-width: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
}

.container {
  padding: 0 2.4rem;
  margin: 0 auto;
  max-width: 122.5rem;
}

/* HEADER */

header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  position: fixed;
}

.nav {
  align-items: center;
  display: flex;
  height: 7.2rem;
  justify-content: center;
}

.menu-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 2.2rem;
  position: absolute;
  right: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1500;
}

.fa-times {
  display: none;
}

.nav-list {
  background-color: var(--main-font-color-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  padding: 4.4rem;
  position: fixed;
  transform: translateX(-100%);
  transition: transform .5s;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80%;
  z-index: 1250;
}

.nav::before {
  background-color: rgba(0, 0, 0, .8);
  content: '';
  position: fixed;
  opacity: 0;
  transform: scale(0);
  transition: opacity .5s;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vh;
  z-index: 1000;
}

.open .fa-times {
  display: block;
}

.open .fa-bars {
  display: none;
}

.open .nav-list {
  transform: translateX(0);
}

.open .nav::before {
  opacity: 1;
  transform: scale(1);
}

.nav-item {
  border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.nav-link {
  color: #fff;
  display: block;
  font-size: 1.6rem;
  letter-spacing: 2px;
  margin-right: -2px;
  text-transform: uppercase;
  transition: color .5s;
}

.nav-link:hover {
  color: var(--secondary-font-color);
}

/* HERO */

.hero {
  align-items: center;
  background: url('img/hero.jpg') center no-repeat;
  background-size: cover;
  display: flex;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.sub-headline {
  color: var(--secondary-font-color);
  font-family: var(--secondary-font);
  font-size: 8.5rem;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 0.4;
  opacity: 0;
  animation: fadeUp .5s forwards;
  animation-delay: .5s;
}

.first-letter {
  font-size: 10.3rem;
  text-transform: uppercase;
}

.headline {
  color: #fff;
  font-family: var(--main-font);
  font-size: 3.7rem;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-right: -.5rem;
  text-transform: uppercase;
  opacity: 0;
  animation: scale .5s forwards;
  animation-delay: .5s;
}

.separator {
  align-items: center;
  display: flex;
  justify-content: center;
}

.line {
  background-color: #fff;
  max-width: 8.4rem;
  position: relative;
  height: .25rem;
  width: 100%;
  opacity: 0;
  animation: grow 2s forwards;
  animation-delay: .9s;
}

.line-left::before,
.line-right::before {
  border: .6rem solid transparent;
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  animation: grow .5s forwards;
  animation-delay: 1.2s;
}

.line-left::before {
  border-left-color: #fff;
  left: 0;
}

.line-right::before {
  border-right-color: #fff;
  right: 0;
}

.asterisk {
  color: var(--secondary-font-color);
  font-size: 1.2rem;
  margin: 0 1.6rem;
  opacity: 0;
  animation: spin .5s forwards;
  animation-delay: .7s;
}

.single-animation {
  opacity: 0;
  animation: fadeDown .5s forwards;
  animation-delay: 1.5s;
}

.headline-description h5 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 3px;
  margin: 0 -3px 1.2rem 0;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  letter-spacing: 2px;
  margin-right: -2px;
  text-transform: uppercase;
}

.cta-btn {
  background-color: #fff;
  border-radius: .4rem;
  color: var(--body-font-color);
  font-size: 1.1rem;
  padding: .9rem 1.8rem;
  transition: background-color .5s;
}

.cta-btn:hover,
.cta-btn:focus {
  color: #fff;
  background-color: var(--secondary-font-color);
}

/* DISCOVER OUR STORY */

.discover-our-story {
  margin-top: 3.9rem;
  text-align: center;
}

.discover-our-story .global-headline {
  margin-top: 3.9rem;
  text-align: center;
}

.global-headline .asterisk {
  color: var(--body-font-color);
  margin: 2.4rem 0;
}

.headline-dark {
  color: var(--main-font-color-dark);
  letter-spacing: .7rem;
  margin-right: -.7rem;
}

.global-headline .sub-headline {
  letter-spacing: -1px;
  line-height: .42;
}

.restaurant-info {
  text-align: center;
}

.restaurant-description {
  margin-bottom: 3rem;
}

.restaurant-description p {
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.body-btn {
  color: var(--secondary-font-color);
  font-size: 1.5rem;
  position: relative;
  transition: color .5s;
}

.body-btn::before {
  background-color: var(--secondary-font-color);
  content: '';
  position: absolute;
  transition: background-color .5s;
  left: 0;
  bottom: -3px;
  height: 2px;
  width: 100%;
}

.body-btn:hover,
.body-btn:focus {
  color: var(--main-font-color-dark);
}

.body-btn:hover::before,
.body-btn:focus::before {
  background-color: var(--main-font-color-dark);
}

/* TASTEFUL RECIPES */

.tasteful-recipes {
  background: url('img/tasteful-recipes.jpg') center no-repeat;
  background-size: cover;
}

.between {
  align-items: center;
  display: flex;
  min-height: 65vh;
}

/* DISCOVER OUR MENU */

.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.discover-our-menu .restaurant-description {
  margin-top: 12rem;
  margin-bottom: 0;
}

/* THE PERFECT BLEND */

.perfect-blend {
  background: url('img/perfect-blend.jpg') center no-repeat;
  background-size: cover;
  margin-bottom: 7rem;
}

.perfect-blend .headline {
  text-align: center;
}

/* FOOTER */

footer {
  background-color: #121212;
  color: #fff;
  padding: 7.9rem 0;
  position: relative;
  text-align: center;
}

.back-to-top {
  background-color: #121212;
  border-radius: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: -3rem;
  left: 50%;
  height: 7rem;
  width: 7rem;
}

.back-to-top i {
  color: #fff;
  display: block;
  font-size: 2rem;
  padding: 2rem;
  animation: up 2s infinite;
}

.footer-content h4 {
  font-size: 1.9rem;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.footer-content .asterisk {
  margin: 2.4rem 0;
}

.footer-content-about {
  margin-bottom: 5.4rem;
}

.footer-content-about p {
  line-height: 2;
}

.social-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 5.4rem;
}
.social-icons i {
  color: #fff;
  font-size: 2rem;
  padding: 0.8rem 2rem;
  transition: color .5s;
}

.social-icons i:hover,
.social-icons i:focus {
  color: var(--secondary-font-color);
}

.contact-form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 5px;
}

.contact-input {
  border: none;
  border-radius: .4rem;
  padding: 1rem;
  max-width: 25rem;
  width: 100%;
}

.contact-btn {
  background-color: transparent;
  border: none;
  color: var(--main-font-color-dark);
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1px .6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20.5rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 900px) {
  section {
    padding: 7.9rem;
  }

  .menu-toggle {
    display: none;
  }

  .nav {
    justify-content: space-between;
  }

  .nav-list {
    background-color: transparent;
    flex-direction: row;
    justify-content: initial;
    transition: initial;
    transform: initial;
    padding: 0;
    position: initial;
    height: initial;
    width: initial;
  }

  .nav-item {
    border: none;
    margin: 0 2.4rem;
  }

  .nav-item:last-child {
    margin-right: 0;
  }

  .nav-link {
    font-size: 1.3rem;
  }

  .active {
    position: relative;
  }

  .active::before {
    background-color: #fff;
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 100%;
  }

  .sub-headline {
    font-size: 10rem;
  }

  .first-letter {
    font-size: 12.2rem;
  }

  .headline {
    font-size: 4.7rem;
    letter-spacing: .8rem;
  }

  .line {
    min-width: 11.4rem;
  }

  .restaurant-info {
    align-items: center;
    display: flex;
  }

  .restaurant-info > div {
    flex: 1;
  }

  .padding-right {
    padding-right: 7rem;
  }

  .footer-content {
    max-width: 77.5rem;
    margin: auto;
  }

  .footer-content-about {
    text-align: center;
    max-width: 51.3rem;
    margin: 0 auto 5rem;

  }

  .footer-content-divider {
    display: flex;
    justify-content: space-between;
  }

  .social-media,
  .contact-form {
    max-width: 27.3rem;
    margin: 0 1rem;
    width: 100%;
  }

  .social-icons i {
    opacity: 1;
  }

  .contact-btn {
    margin-left: 17rem;
  }

}

/* ANIMATIONS */

@keyframes fadeUp {
  0% {
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale {
  0% {
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}

@keyframes fadeDown {
  0% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes up {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-1rem);
  }
}

#error_message{
  margin-top: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

#success_message{
  margin-top: 20px;
  background: #00dd4a;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

#custom-btn {
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  background: #ce9239;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  font-family: 'Bubblegum Sans', cursive;
}

.input_field {
  margin: 5px;
}

textarea {
  resize: none;
  height: 80px;
}

.sub-heading{
  text-align: center;
  color: var(--brown);
  font-size: 5rem;
  padding-top: 1rem;
  font-family: var(--secondary-font);
}

.heading{
  text-align: center;
  color:var(--black);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-family: var(--main-font);
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:0.5rem;
}

.menu .box-container .box{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: 3.5rem;
    box-shadow: var(--box-shadow);    
}

.menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.menu .box-container .box .image .fa-heart{
    position: absolute;
    top:2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
}

.menu .box-container .box .image .fa-heart:hover{
    background-color: var(--brown);
    color:#fff;
}

.menu .box-container .box .content{
    padding:2rem;
    padding-top: 0;
}

.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i{
   font-size: 1.7rem;
   color:var(--brown);
}

.menu .box-container .box .content h3{
    color:var(--black);
    font-size: 2.5rem;
    font-family: var(--main-font);
}

.menu .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.6rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content .price{
    color:var(--brown);
    margin-left: 1rem;
    font-size: 2.5rem;
}
